style.css

body {
    background-color: #ffffff; /* Cor de fundo branco */
    background-image: url("c:\Users\Aluno\Desktop\hello kitty.jpg");
    color: rgb(216, 145, 198); /* Cor do texto rosa */
    font-family: Arial, sans-serif; /* Fonte do texto */
    text-align: center;
}
a {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.Menu ul{
display: flex;
flex-direction: row;
}

.Menu li{
list-style: none;  
}

textarea{
resize:vertical;
}

input[type="submit"] {
background-color: rgb(224, 147, 195); 
color: rgb(255, 255, 255); 
border: none; 
padding: 10px 15px; 
cursor: pointer; 
font-size: 16px; 
border-radius: 5px; 
}