body {
    /* background-color: pink; */
    background-image: url()
    /* background-repeat: no-repeat; */
    background-size: auto;
.menu{
    background: white;
}

.menu ul {
    display: flex;
    flex-direction:colum;
}

.menu li{
    list-style: none;
}

a{
    text-decoration: none;
    color: blueviolet;
}

a:hover{
    text-decoration: underline;
    color: pink
}